body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100%;
}

.header {
    /* border: 5px solid white; */
    display: flex;
    align-self: stretch;
    align-items: center;
    padding: 3px 10%;
    background-color: #1f2937;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    display: flex;
    margin-left: auto;
    list-style-type: none;

}

.header-link a {
    padding: 0px 20px;
    text-decoration: none;
    font: 18px;
    color: #e5e7eb;

}

.hero {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    align-self: stretch;
    padding: 100px 10%;
    gap: 80px;
    align-items: center;


}

.hero-left {
    flex-wrap: wrap;
    flex: 1;
    margin-left: 50px;

    /* border: 2px solid white; */
}

.hero-left h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;

}

.hero-left p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-right {
    display: flex;
    align-items: center;
    flex: 1;
}

.hero-right img {
    object-fit: contain;
    max-width: 100%;
    margin-left: 200px;
}

.hero-button {
    background-color: #3882f6;
    border: none;
    padding: 10px 18px;
    font-size: 18px;
    border-radius: 8px;
    color: #e5e7eb;
    cursor: pointer;

}

.hero-button:hover {
    background-color: white;
    color: black;
}



.contact {
    display: flex;
    margin: 80px 10%;
    background-color: #3882f6;
    align-self: stretch;
    border-radius: 10px;
    color: #f9faf8;
    padding: 20px 10%;
}

.contact-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

}

.contact-button {
    margin-left: auto;
    font-size: 20px;
    border: 3px solid #f9faf8;
    padding: 15px 40px;
    border-radius: 10px;
    cursor: pointer;
}

.contact-button:hover {
    background-color: white;
    color: black;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
}

.call-to-action h4 {
    font-size: 30px;
    font-weight: 900;
    margin: 0px;
}

.call-to-action p {
    font-size: 22px;
    font-weight: 500;
    margin: 0px;
}

.quote {
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    align-items: flex-end;
    padding: 100px 300px;
    justify-content: center;


}

.quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    display: flex;
    /* margin: 0px; */
}

.quote h4 {
    font-size: 24px;
    margin: 0px 20px 100px 0px;
}



.footer {
    display: flex;
    background-color: #1f2937;
    align-self: stretch;
    justify-content: center;
    height: 60px;
    align-content: center;
    flex-wrap: wrap;


}

.footer p {
    color: #e5e7eb;
    font-size: 18px;
}